.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  // overflow: hidden;
}

.discover__background {
  position: absolute;
  left: 0;
  top: 0;
  align-self: stretch;
  height: 100dvh;
  width: calc(100dvw - 17px);
  animation: fadeIn 1s 0.5s forwards;
  opacity: 0;
  object-fit: cover;
  mask-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.6));
  -webkit-mask-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.6));
}

.discover__background-code {
  position: absolute;
  height: 11vw;
  opacity: 0;
}

.discover__background-code-1 {
  top: 200px;
  left: 0px;
  animation: displayCodeFromLeft 1s 1s forwards;
}

.discover__background-code-2 {
  top: 200px;
  right: 0px;
  animation: displayCodeFromRight 1s 1s forwards;
}

.discover__main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100vw;
}

.discover__text-section {
  text-align: center;
  color: white;
  font-size: 64px;

  animation: growText 2s;
  animation-timeline: view();
  animation-range-start: cover 50%;
  animation-range-end: cover 120%;
}

.discover__title {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  opacity: 0;
}

.discover__projects {
  display: flex;
  height: 110dvh;
  align-self: stretch;
  padding-left: 200px;
}

.discover__projects-title {
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  font-size: 64px;
  z-index: 100;
  opacity: 0;

  animation: displayText 1s forwards;
  animation-timeline: view();
  animation-range-start: cover 20%;
  animation-range-end: cover 40%;
}

.animate--1s {
  animation: displayText 1s forwards;
}

.animate--2s {
  animation: displayText 1s forwards;
  animation-delay: 1s;
}

.scroll-text {
  animation: growText 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes displayText {
  0% {
    opacity: 0;
    margin-left: -50px;
  }

  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes displayCodeFromLeft {
  0% {
    opacity: 0;
    margin-left: -300px;
  }

  100% {
    opacity: 1;
    margin-left: -50px;
  }
}

@keyframes displayCodeFromRight {
  0% {
    opacity: 0;
    margin-right: -300px;
  }

  100% {
    opacity: 1;
    margin-right: -50px;
  }
}

@keyframes growText {
  from {
    font-size: 64px;
  }
  to {
    font-size: 130px;
  }
}
